/**
 * Name: Mercylyn Wiemer
 * Course: Data Processing
 * Date: 06-05-2018
 *
 * Better Life Index: Education, Health & Life Satisfaciton, Scatter plot of
 * 2015/2016.
 *
 * http://bl.ocks.org/davegotz/bd54b56723c154d25eedde6504d30ad7
 */
 body {
    font: 10px Arial;
    color: #43a2ca;
    text-align: center;
 }
